<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bookingPage.css">
    <script src="../js/bookingPage.js" defer type="module"></script>
    <title>Choose Seat</title>
    
  
</head>
<body>
    <div class="header">
        <span>&#x2190;</span>
        <h1>Choose Seat</h1>
        <span>&#8942;</span>
    </div>

    <div class="screen"></div>

    <div class="seats">
        <div class="A">
            <div class="row-label">A</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
        </div>
        <div class="B">

            <div class="row-label">B</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
            <div class="seat reserved" id="4"></div>
            <div class="seat reserved" id="5"></div>
        </div>
        <div class="C">
            <div class="row-label">C</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
            <div class="seat reserved" id="4"></div>
            <div class="seat reserved" id="5"></div>
            <div class="seat reserved" id="6"></div>
            <div class="seat reserved" id="7"></div>
            <div class="seat reserved" id="8"></div>
            <div class="seat reserved" id="9"></div>
        </div>
        <div class = "D">
            <div class="row-label">D</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
            <div class="seat reserved" id="4"></div>
            <div class="seat reserved" id="5"></div>
            <div class="seat reserved" id="6"></div>
            <div class="seat reserved" id="7"></div>
            <div class="seat reserved" id="8"></div>
            <div class="seat reserved" id="9"></div>
        </div>
        <div class = "E">
            <div class="row-label">E</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
            <div class="seat reserved" id="4"></div>
            <div class="seat reserved" id="5"></div>
            <div class="seat reserved" id="6"></div>
            <div class="seat reserved" id="7"></div>
            <div class="seat reserved" id="8"></div>
            <div class="seat reserved" id="9"></div>
        </div>
        <div class = "F">
            <div class="row-label">F</div>
            <div class="seat reserved" id="1"></div>
            <div class="seat reserved" id="2"></div>
            <div class="seat reserved" id="3"></div>
            <div class="seat reserved" id="4"></div>
            <div class="seat reserved" id="5"></div>
            <div class="seat" id="6"></div>
            <div class="seat" id="7"></div>
            <div class="seat" id="8"></div>
            <div class="seat" id="9"></div>
        </div>
        
    </div>

    <div class="seats_info">
            
        <article><div class="seat available"></div><p>Available</p></article>
        <article><div class="seat reserved"></div><p>Reserved</p></article>
        <article><div class="seat selected"></div><p>Selected</p></article>
         
     </div>

    <div class="date-selector">
        <div class="date">
            <div>Fri</div>
            <div>17</div>
        </div>
        <div class="date">
            <div>Sat</div>
            <div>18</div>
        </div>
        <div class="date">
            <div>Sun</div>
            <div>19</div>
        </div>
        <div class="date">
            <div>Mon</div>
            <div>20</div>
        </div>
        <div class="date">
            <div>Tue</div>
            <div>21</div>
        </div>
        <div class="date">
            <div>Sun</div>
            <div>19</div>
        </div>
        <div class="date">
            <div>Mon</div>
            <div>20</div>
        </div>
        <div class="date">
            <div>Tue</div>
            <div>21</div>
        </div>
    </div>

    <div class="time-selector">
        <div class="time">13:00</div>
        <div class="time">15:45</div>
        <div class="time">18:50</div>
        <div class="time">20:30</div>
    </div>

    <div class="footer">
        <div class="price">Price $24,99</div>
        <button class="buy-button">Buy ticket</button>
    </div>
</body>
</html>