<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainPage.css">
    <title>Cinema Login</title>
</head>
<body>
    <div class="container">
        <img src="../storage/img/cineLogo.svg" alt="">
        <a href="logIn"><button class="button signup-button">Log In</button></a>
        <a href="signUp"><button class="button login-button">Sign Up</button></a>
    </div>
</body>
</html>